body{
    font-family:'Nunito', sans-serif !important;
    padding:0 !important;
    margin:0 !important;
    font-size:14px !important;
}
.navbar-brand{
    font-weight:bold;
    color:rgb(107, 107, 107) !important;
}
.btn-login-navbar{
    border-left:3px solid blue;
    border-right:3px solid blue;
    border-radius:30px;
}
.btn-logout-navbar{
    border-top:0px !important;
    border-bottom:0px !important;
    border-left:3px solid blue !important;
    border-right:3px solid blue !important;
    border-radius:30px !important;
    background-color:transparent !important;
    color:rgb(107, 107, 107) !important;
    font-weight:bold !important;
    font-size:14px !important;
}
.btn-tambah{
    margin-bottom:-10px !important;
}
p{
    padding:0 !important;
    margin:0 !important;
}
.content{
    margin-top:90px !important;
    margin-bottom:50px !important;
}
.link-style{
    font-weight:bold;
    color:rgb(187, 186, 186);
}

/* home */
.img-login{
    width:90px;
    position:relative;
    top:-10px;
    opacity:0.7;
    transform:rotate(25deg) !important;
}
.form-login{
    margin-top:-50px;
}
.input-email-edit, .input-pass-edit{
    border:0px solid !important;
    border-bottom:1px solid gray !important;
    margin-top:25px !important;
}
.img-form-login{
    height:80px;
    width:80px;
    border:0px solid;
    border-radius:50%;
    background-color:white;
    margin-top:50px;
}
#btn-login{
    margin-top:15px;
    border-radius:30px;
}
/* akhir home */

.form-control-edited{
    padding:0 !important;
    font-size:14px !important;
    height:30px !important;
}
.ttd-title{
    margin-top:20px !important;
}
.ttd{
    margin-top:50px !important;
}
.peng h6{
    font-size:14px !important;
    font-weight:bold;
}
.peng td{
    padding:1px !important;
}
.p-bold{
    font-weight:bold;
}
.p-marg{
    margin-left:12px !important;
}
.tr-edited{
    background-color:rgb(212, 206, 206) !important;
}
.modal-header-edit{
    border:0px solid !important;
}

/* dashboard */
.back{
    background-color:rgb(221, 221, 221);
    border-radius:20px;
    transform:rotate(-3deg);
    margin-bottom:25px;
}
.front{
    padding:15px;
    border-radius:20px;
    transform:rotate(3deg);
}
.front-pegawai{
    background-image:linear-gradient(to bottom right, rgb(0, 238, 255), rgb(204, 0, 255));
}
.front-jabatan{
    background-image:linear-gradient(to bottom right, rgb(255, 87, 199), rgb(255, 44, 44));
}
.front-golongan{
    background-image:linear-gradient(to bottom right, rgb(30, 255, 0), rgb(255, 251, 0));
}
.dashboard h6{
    font-size:13px;
    font-weight:bold !important;
}
.dashboard h5{
    font-weight:bold !important;
}
/* end dashboard */

/* kehadiran */
.img-penggajian-cari-data{
    width:220px;
    margin-top:50px;
}
.img-penggajian-belum-ada-data{
    width:300px;
    margin-top:50px;
}
.img-penggajian-generate{
    width:220px;
    margin-top:50px;
}
.img-penggajian-sudah-diinput{
    width:280px;
    margin-top:50px;
    transform:rotate(5deg);
}
/* akhir kehadiran */

/* tampilan laptop */
@media (min-width: 1024px) {
    .back{
        margin-bottom:0px;
    }

    /* home */
    .img-login{
        width:500px;
        margin-top:40px;
        margin-left:70px;
        position:relative;
        top:0;
        opacity:1;
        transform:rotate(0) !important;
    }
    .form-login{
        margin-top:0;
    }
    /* akhir home */

    /* kehadiran */
    .img-penggajian-cari-data{
        width:350px;
        margin-top:70px;
    }
    .img-penggajian-belum-ada-data{
        width:450px;
        margin-top:50px;
    }
    .img-penggajian-generate{
        width:350px;
        margin-top:70px;
    }
    .img-penggajian-sudah-diinput{
        width:420px;
        margin-top:50px;
    }
    /* akhir kehadiran */
}
/* akhir tampilan laptop */